$primary-color: #dc2626;
$dark-primary-color: #b91c1c;
$secondary-color: #2595DB;
$dark-secondary-color: #1C7DBA;

$text-color: #222;
$text-color-light: #fff;

$bg-dark-gray: #e0e0e0;
$bg-gray: #f0f0f0;
$bg-white: #fff;
$bg-dark: #222;

$border-gray: #c9c9c9;
$border-dark: #222;
$border-white: #fff;

.bg-white {
    background-color: $bg-white;
}