.dropdown {
    cursor: pointer;

    &:hover .dropdown__btn {
        background-color: $primary-color;
        color: $text-color-light;
    }

    &--content {
        display: none;
        background-color: $bg-gray;
        transition: all .2s ease-in-out;
    }

    &:hover .dropdown--content {
        display: block;
    }

    &:hover .dropdown--content * {
        transition: all .2s ease-in-out;
    }
    
    &:hover .dropdown--content *:hover {
        background-color: $bg-dark-gray;
        color: $primary-color;
    }
    
    &:hover .dropdown--content .header__link--active {
        background-color: $bg-dark;
        color: $text-color-light;
        border: none;
    }
}