/* common header */

.headerCommon {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border-bottom: 1px solid #222;
}

.headerCommon__navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.headerCommon__link {
    color: #222;
    font-weight: bold;
    transition: all .2s;

    &:hover {
        color: #dc2626;
    }
}

.headerCommon__link--active {
    @extend .headerCommon__link;
    color: #dc2626;
}

/* end common header */
/* admin header */

.header {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-right: 1px solid #e0e0e0;

    .logo {
        align-self: center;
    }

    &__navbar {
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: block;
        width: 200px;
        padding: 1rem;
        font-weight: bold;
        color: #222;

        &:hover {
            background-color: #e4e4e4;
            color: #dc2626;
        }
    }

    &__link--active {
        @extend .header__link;
        color: #dc2626;
        background-color: #e4e4e4;
    }
}

/* end admin header */