/* common header */

.headerCommon {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border-bottom: 1px solid $border-gray;

    &__navbar {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    &__link {
        color: $text-color;
        font-weight: bold;
        transition: all .2s;
    
        &:hover {
            color: $primary-color;
        }
    }
    
    &__link--active {
        @extend .headerCommon__link;
        color: $primary-color;
    }
}

/* end common header */
/* admin header */

.header {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-right: 1px solid $border-gray;

    .logo {
        align-self: center;
    }

    &__navbar {
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: block;
        width: 200px;
        padding: 1rem;
        font-weight: bold;
        color: $text-color;
        transition: all .2s;
        
        &:hover {
            background-color: $dark-primary-color;
            color: $text-color-light;
        }
    }

    &__link--active {
        @extend .header__link;
        background-color: $primary-color;
        color: $text-color-light;

        &:hover {
            background-color: $primary-color;
            color: $text-color-light;
        }
    }
}

/* end admin header */