.pagination {
    &__table {
        float: inline-end;

        & td {
            border-left: 1px solid $border-gray;
            padding: 0;
            
            &:first-child {
                border-left: none;
            }
        }
    }

    &__dots {
        padding: .75rem 1rem;
        
        display: grid;
        place-content: center;
        
        color: $text-color;
        cursor: default;
    }
    
    &__link {
        padding: .75rem 1rem;
        
        display: grid;
        place-content: center;
        
        color: $text-color;
        
        &:hover {
            background-color: $bg-gray;
        }
    }
    
    &__link--active {
        @extend .pagination__link;
        background-color: $bg-dark;
        color: $text-color-light;
        font-weight: bold;

        &:hover {
            background-color: $bg-dark;
        }
    }
}