/* common header */

.headerCommon {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border-bottom: 1px solid #222;
}

.headerCommon__navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.headerCommon__link {
    color: #222;
    font-weight: bold;
    transition: all .2s;

    &:hover {
        color: #dc2626;
    }
}

.headerCommon__link--active {
    @extend .headerCommon__link;
    color: #dc2626;
}

/* end common header */