@import "./colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,body {
    width: 100dvw;
    min-height: 100dvh;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 64px;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;

    .container {
        padding: 2rem;
    }
}

.container {
    padding: 1rem;
    background-color: $bg-gray;
    flex: 1;
}

@import "./header";
@import "./dropdown";
@import "./pagination";
@import "./button";
@import "./form";
@import "./carrossel";
@import "./border";
@import "./grid";
@import "./flex";
@import "./table";
@import "./text";
@import "./margin";
@import "./padding";
@import "./gap";